<!doctype html>
<html>
    <head>
        <title>{{applicationName}}</title>
        <script type="text/javascript" src="{{basePath}}client/espo.min.js?r=1482505442699" data-base-path="{{basePath}}"></script>
        <link href="{{basePath}}{{stylesheet}}?r=1482505442699" rel="stylesheet" id='main-stylesheet'>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="EspoCRM is Open Source CRM application. Increase profitability through customer loyalty!">
        <link rel="icon" href="{{basePath}}client/img/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="{{basePath}}client/img/favicon.ico" type="image/x-icon">
        <script type="text/javascript">
            $(function () {
                Espo.loader.cacheTimestamp = {{cacheTimestamp}};
                Espo.require('app-portal', function (App) {
                    var app = new App({
                        id: '{{portalId}}',
                        useCache: {{useCache}},
                        cacheTimestamp: {{cacheTimestamp}},
                        url: 'api/v1/portal-access/{{portalId}}',
                        basePath: '{{basePath}}'
                    }, function (app) {
                        {{runScript}}
                    });
                });
            });
        </script>
    </head>
    <body>
        <div class="container content"></div>
        <footer>
            <p class="credit small">&copy; 2016 <a href="http://www.espocrm.com" title="Powered by EspoCRM" alt="Visit official EspoCRM website">EspoCRM</a></p>
        </footer>
    </body>
</html>
